@import 'tailwindcss';

@theme {
  --color-primary: #2563EB;
  --color-secondary: #10B981;
  --color-dark: #1E293B;
  --color-light: #F8FAFC;
  --color-text: #111827;
  --color-muted: #6B7280;
  --color-border: #E5E7EB;
  --color-success: #34D399;
  --color-danger: #EF4444;
}