@import 'tailwindcss';

@theme {
  --color-primary: #2563eb;
  --color-secondary: #10b981;
  --color-dark: #1e293b;
  --color-light: #f8fafc;
  --color-text: #111827;
  --color-muted: #6b7280;
  --color-border: #e5e7eb;
  --color-success: #34d399;
  --color-danger: #ef4444;
}
